[View in Colaboratory](https://colab.research.google.com/github/iesilder/projectFinance/blob/master/Zipline%EA%B8%B0%EC%B4%88.ipynb)

In [1]:
# 라이브러리 설치
!pip install zipline

Requirement already satisfied: zipline in /usr/local/lib/python3.6/dist-packages (1.3.0)
Requirement already satisfied: bcolz<1,>=0.12.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.12.1)
Requirement already satisfied: Logbook>=0.12.5 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.0)
Requirement already satisfied: Mako>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.0.7)
Requirement already satisfied: decorator>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (4.3.0)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (2.18.4)
Requirement already satisfied: multipledispatch>=0.4.8 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.5.0)
Requirement already satisfied: sqlalchemy>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.2.10)
Requirement already satisfied: sortedcontainers>=1.4.4 in /usr/local/lib/python3.6/dist-packages (from zipline) (2.0.4)
Requirement already satisfied: networkx<2.0,>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.11)
Requirement already satisfied: tables>=3.3.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (3.4.4)
Requirement already satisfied: Cython>=0.25.2 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.28.4)
Requirement already satisfied: lru-dict>=1.1.4 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.1.6)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.5.0)
Requirement already satisfied: pandas<=0.22,>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.22.0)
Requirement already satisfied: trading-calendars>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.1.0)
Requirement already satisfied: bottleneck>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.2.1)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.19.1)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.14.5)
Requirement already satisfied: intervaltree>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (2.1.0)
Requirement already satisfied: empyrical>=0.5.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.5.0)
Requirement already satisfied: requests-file>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.4.3)
Requirement already satisfied: python-dateutil>=2.4.2 in /usr/local/lib/python3.6/dist-packages (from zipline) (2.5.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.9.0)
Requirement already satisfied: pytz>=2016.4 in /usr/local/lib/python3.6/dist-packages (from zipline) (2018.5)
Requirement already satisfied: click>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (6.7)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.11.0)
Requirement already satisfied: numexpr>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (2.6.6)
Requirement already satisfied: setuptools>18.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (39.1.0)
Requirement already satisfied: contextlib2>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.5.5)
Requirement already satisfied: alembic>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.0.0)
Requirement already satisfied: cyordereddict>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from zipline) (1.0.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.8.0)
Requirement already satisfied: pip>=7.1.0 in /usr/local/lib/python3.6/dist-packages (from zipline) (18.0)
Requirement already satisfied: pandas-datareader>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from zipline) (0.6.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->zipline) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->zipline) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->zipline) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->zipline) (2018.4.16)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic>=0.7.7->zipline) (1.0.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader>=0.2.1->zipline) (4.2.3)
Requirement already satisfied: requests-ftp in /usr/local/lib/python3.6/dist-packages (from pandas-datareader>=0.2.1->zipline) (0.3.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from pandas-datareader>=0.2.1->zipline) (1.10.11)

In [2]:
import matplotlib
# Force matplotlib to not use any Xwindows backend.
matplotlib.use('Agg')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python3.6/dist-packages/traitlets/config/application.py", line 657, in launch_instance
    app.initialize(argv)
  File "<decorator-gen-121>", line 2, in initialize
  File "/usr/local/lib/python3.6/dist-packages/traitlets/config/application.py", line 87, in catch_config_error
    return method(app, *args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelapp.py", line 462, in initialize
    self.init_gui_pylab()
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelapp.py", line 403, in init_gui_pylab
    InteractiveShellApp.init_gui_pylab(self)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/shellapp.py", line 213, in init_gui_pylab
    r = enable(key)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2950, in enable_matplotlib
    pt.activate_matplotlib(backend)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/pylabtools.py", line 309, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/pyplot.py", line 232, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/__init__.py", line 1305, in use
    reload(sys.modules['matplotlib.backends'])
  File "/usr/lib/python3.6/importlib/__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/backends/__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
# 사용할 라이브러리 import
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import tensorflow as tf

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'TkAgg' by the following code:
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python3.6/dist-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelapp.py", line 477, in start
    ioloop.IOLoop.instance().start()
  File "/usr/local/lib/python3.6/dist-packages/zmq/eventloop/ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "/usr/local/lib/python3.6/dist-packages/tornado/ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "/usr/local/lib/python3.6/dist-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/zmq/eventloop/zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "/usr/local/lib/python3.6/dist-packages/zmq/eventloop/zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "/usr/local/lib/python3.6/dist-packages/zmq/eventloop/zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelbase.py", line 235, in dispatch_shell
    handler(stream, idents, msg)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/ipkernel.py", line 196, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/local/lib/python3.6/dist-packages/ipykernel/zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2718, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2822, in run_ast_nodes
    if self.run_code(code, result):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-35-ed6a6a3c4652>", line 2, in <module>
    get_ipython().magic('matplotlib')
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2160, in magic
    return self.run_line_magic(magic_name, magic_arg_s)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2081, in run_line_magic
    result = fn(*args,**kwargs)
  File "<decorator-gen-105>", line 2, in matplotlib
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/magic.py", line 188, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/magics/pylab.py", line 100, in matplotlib
    gui, backend = self.shell.enable_matplotlib(args.gui)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2950, in enable_matplotlib
    pt.activate_matplotlib(backend)
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/pylabtools.py", line 309, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/pyplot.py", line 232, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/__init__.py", line 1305, in use
    reload(sys.modules['matplotlib.backends'])
  File "/usr/lib/python3.6/importlib/__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "/usr/local/lib/python3.6/dist-packages/matplotlib/backends/__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  import sys

In [0]:
# html에 있는 정보를 읽어온다.
# 여기서 가져오는 정보는 종목 코드명이다.
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

In [6]:
# 데이터 타입 및 내용 확인
print(type(code_df))
print(code_df.head())

<class 'pandas.core.frame.DataFrame'>
     회사명   종목코드             업종                         주요제품         상장일  결산월  \
0     CJ   1040         기타 금융업                         지주회사  1973-06-29  12월
1    HDC  12630         건물 건설업  토목공사,건축공사,아파트분양사업,재개발/재건축사업  1996-10-16  12월
2  HSD엔진  82740  일반 목적용 기계 제조업               대형선박용엔진,내연발전엔진  2011-01-04  12월
3  KG케미칼   1390    기초 화학물질 제조업    콘크리트혼화제, 비료, 친환경농자재, 수처리제  1989-08-25  12월
4  LG이노텍  11070       전자부품 제조업                  기타 전자부품 제조업  2008-07-24  12월

            대표자명                         홈페이지     지역
0  손경식, 이재현, 이채욱            http://www.cj.net  서울특별시
1            정몽규        http://www.i-park.com  서울특별시
2            고영열  http://www.doosanengine.com   경상남도
3            김경묵      http://www.kgchem.co.kr  울산광역시
4            박종석   http://www.lginnotek.co.kr  서울특별시

In [0]:
# 종목코드를 균일하게 000000자리로 맞추는 작업을 한다.
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)

In [0]:
# 한글로 된 컬럼명을 영어로 바꾼다.
code_df = code_df.rename(columns={'회사명':'name', '종목코드':'code'})

In [0]:
# code_df에서 필요한 컬럼만 뽑아서 새로 code_df를 정의한다.
code_df = code_df[['name', 'code']]

In [0]:
# 특정 업체의 코드를 가져오기 위한 함수 정의
def get_url(item_name, code_df):
    # 코드를 가져오기 위한 처리.
    # 먼저 .query("name=='{}'".format(item_name))['code']는 name 컬럼에 item_name과 동일한 값의 code값을 반환한다는 뜻.
    # 즉, .query("쿼리".format(쿼리에 넣을 데이터))[얻을 자료]
    # .to_string(index = False)로 위에서 얻어진 값에 index를 빼고 string타입으로 바꿔준다.
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index = False)
    # url은 일일 종가 시가 고가 저가 거래량을 보여주는 표이다.
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code = code)
    print("요청 URL = {}".format(url))
    return url

In [11]:
# 데이터를 확인해본다.
code_df['name'][:20]

0          CJ
1         HDC
2       HSD엔진
3       KG케미칼
4       LG이노텍
5     SH에너지화학
6      SK네트웍스
7      STX중공업
8      WISCOM
9     갤럭시아에스엠
10     경동도시가스
11       고려제강
12    골든브릿지증권
13       극동유화
14     금호에이치티
15      까뮤이앤씨
16      노루페인트
17     녹십자홀딩스
18      대덕GDS
19     대림씨엔에스
Name: name, dtype: object

In [0]:
# code_df.name에서 "LG"가 들어간 데이터만 추출한다.
lg_list = []
for i in range(len(code_df['name'])):
  if "LG" in code_df['name'][i]:
    lg_list.append(code_df.loc[i].tolist())
# list = code_df.loc[code_df['name'].str.contains("LG")]  # 이렇게 해도 추출된다. 이후 처리 필요.

In [0]:
# 추출한 데이터를 데이터프레임으로 바꾼다.
lg_df = pd.DataFrame(lg_list, columns=['name', 'code'])

In [14]:
# 데이터 확인
lg_df

      name    code
0    LG이노텍  011070
1  LG디스플레이  034220
2   LG하우시스  108670
3       LG  003550
4   LG유플러스  032640
5     LG전자  066570
6     LG화학  051910
7     LG상사  001120
8   LG생활건강  051900

In [0]:
# 각 회사별 자료를 사전 타입에 저장을 한다.
# 2016~2017 자료를 train, 2018-01-01~2018-07-27까지의 자료를 test로 놓겠다.
lg_dict_train = {}  # 저장할 객체
lg_dict_test = {}
name_list = lg_df.name  # 이름
code_list = lg_df.code  # 코드
url = 'http://finance.naver.com/item/sise_day.nhn?code='

In [0]:
# 페이지 자료에 맞춰서 데이터를 구분한다.
# 시간이 오래 걸림
# test 데이터
for i in range(len(lg_df.name)):
    for page in range(1, 15):  # 1~14페이지까지 2018-01-01~2018-07-27 자료
        if page == 1:
            df = pd.DataFrame()
        pg_url = url + '{code}&page={page}'.format(code = code_list[i], 
                                                   page = page)  # url을 저장한다.
        # 데이터 프레임으로 만든다.
        df = df.append(pd.read_html(pg_url, header = 0)[0], ignore_index = True)
        if page == 14:  # 전처리 및 저장을 한다.
            df = df.rename(columns= {'날짜': 'date', '종가': 'close', 
             '전일비': 'diff', '시가': 'open', '고가': 'high', 
             '저가': 'low', '거래량': 'volume'})  # 컬럼명을 바꾼다.
            # 결측치 제거 및 오름차순으로 정렬한다.
            df = df.sort_values('date', ascending=True).dropna()
            lg_dict_test[name_list[i]] = df  # 데이터프레임을 key, value로 저장한다.

In [18]:
print(lg_dict_test[name_list[0]])  # 데이터 확인

           date     close     diff      open      high       low     volume
208  2018.01.04  145000.0   2000.0  148000.0  148500.0  144500.0   186790.0
207  2018.01.05  145500.0    500.0  146000.0  148000.0  143000.0   236799.0
206  2018.01.08  142000.0   3500.0  148000.0  148500.0  139500.0   471519.0
205  2018.01.09  156500.0  14500.0  153500.0  160500.0  149000.0  1239506.0
204  2018.01.10  149000.0   7500.0  157000.0  157500.0  147500.0   603263.0
200  2018.01.11  150500.0   1500.0  149500.0  150500.0  147000.0   349462.0
199  2018.01.12  146000.0   4500.0  149500.0  150000.0  142000.0   524718.0
198  2018.01.15  144500.0   1500.0  145000.0  146000.0  143000.0   140423.0
197  2018.01.16  146000.0   1500.0  143000.0  147500.0  141000.0   318389.0
196  2018.01.17  143000.0   3000.0  144500.0  147500.0  141500.0   367226.0
193  2018.01.18  140000.0   3000.0  144500.0  145000.0  139500.0   411860.0
192  2018.01.19  132500.0   7500.0  140000.0  140500.0  131000.0  1096410.0
191  2018.01.22  129000.0   3500.0  128500.0  130000.0  126000.0   600558.0
190  2018.01.23  130500.0   1500.0  129000.0  132500.0  126500.0   601325.0
189  2018.01.24  127000.0   3500.0  127000.0  129500.0  126500.0   699480.0
185  2018.01.25  126500.0    500.0  125000.0  127000.0  123000.0   642862.0
184  2018.01.26  127000.0    500.0  126500.0  129000.0  126000.0   412126.0
183  2018.01.29  130500.0   3500.0  128000.0  132000.0  127500.0   484915.0
182  2018.01.30  129500.0   1000.0  130500.0  133500.0  129500.0   469144.0
181  2018.01.31  125500.0   4000.0  128000.0  129500.0  125500.0   442839.0
178  2018.02.01  128500.0   3000.0  126000.0  131000.0  125000.0   487650.0
177  2018.02.02  127500.0   1000.0  131000.0  132500.0  126000.0   463775.0
176  2018.02.05  123500.0   4000.0  124000.0  126000.0  123000.0   247412.0
175  2018.02.06  122500.0   1000.0  118000.0  123000.0  117500.0   397169.0
174  2018.02.07  121000.0   1500.0  125500.0  126500.0  121000.0   302792.0
170  2018.02.08  126500.0   5500.0  121500.0  126500.0  121500.0   249516.0
169  2018.02.09  123000.0   3500.0  122500.0  124000.0  120500.0   184381.0
168  2018.02.12  124500.0   1500.0  125000.0  126000.0  122500.0   162742.0
167  2018.02.13  122000.0   2500.0  126000.0  128000.0  122000.0   260878.0
166  2018.02.14  125500.0   3500.0  123500.0  126000.0  122000.0   197942.0
..          ...       ...      ...       ...       ...       ...        ...
43   2018.06.19  141500.0   7000.0  147500.0  149000.0  141500.0   273473.0
42   2018.06.20  146500.0   5000.0  142000.0  148000.0  141500.0   177191.0
41   2018.06.21  146000.0    500.0  146000.0  149000.0  145000.0   157257.0
40   2018.06.22  139000.0   7000.0  144000.0  145500.0  137000.0   439214.0
39   2018.06.25  145000.0   6000.0  138500.0  145000.0  135500.0   220431.0
35   2018.06.26  141000.0   4000.0  141500.0  145000.0  139500.0   160745.0
34   2018.06.27  140000.0   1000.0  140500.0  144000.0  139500.0   112186.0
33   2018.06.28  140500.0    500.0  140500.0  141000.0  138000.0   121640.0
32   2018.06.29  144500.0   4000.0  140500.0  145000.0  140000.0   160170.0
31   2018.07.02  142000.0   2500.0  145000.0  146500.0  141000.0   113375.0
28   2018.07.03  140500.0   1500.0  143500.0  143500.0  136000.0   109609.0
27   2018.07.04  139500.0   1000.0  138000.0  142000.0  137000.0    81232.0
26   2018.07.05  145500.0   6000.0  142000.0  150000.0  142000.0   363258.0
25   2018.07.06  156000.0  10500.0  147500.0  156000.0  147500.0   564528.0
24   2018.07.09  160500.0   4500.0  156500.0  161000.0  156000.0   325136.0
20   2018.07.10  157500.0   3000.0  159000.0  160500.0  155500.0   107907.0
19   2018.07.11  156000.0   1500.0  156500.0  159500.0  153500.0   132688.0
18   2018.07.12  158500.0   2500.0  158000.0  161000.0  156000.0   218557.0
17   2018.07.13  160000.0   1500.0  158000.0  163500.0  157000.0   168005.0
16   2018.07.16  162000.0   2000.0  160000.0  163500.0  160000.0    96050.0
13   2018.07.17  158000.0   4000.0  163000.0  163500.0  157000.0   121429.0
12   2018.07.18  160000.0   2000.0  160000.0  162500.0  159000.0   125858.0
11   2018.07.19  158000.0   2000.0  161000.0  161500.0  156500.0    94944.0
10   2018.07.20  158500.0    500.0  159000.0  160500.0  156500.0   124904.0
9    2018.07.23  155000.0   3500.0  157000.0  158500.0  150500.0   234183.0
5    2018.07.24  161000.0   6000.0  155500.0  161500.0  155500.0   142988.0
4    2018.07.25  162500.0   1500.0  163000.0  163000.0  160000.0   170304.0
3    2018.07.26  158500.0   4000.0  163500.0  166500.0  157000.0   288066.0
2    2018.07.27  160500.0   2000.0  159500.0  161500.0  157500.0   115860.0
1    2018.07.30  163000.0   2500.0  161000.0  166500.0  161000.0   195821.0

[140 rows x 7 columns]

In [0]:
# 페이지 자료에 맞춰서 데이터를 구분한다.
# train 데이터
for i in range(len(lg_df.name)):
    for page in range(15, 64):  # 15~64페이지까지 2016~2017 자료
        if page == 15:
            df = pd.DataFrame()
        pg_url = url + '{code}&page={page}'.format(code = code_list[i], 
                                                   page = page)  # url을 저장한다.
        # 데이터 프레임으로 만든다.
        df = df.append(pd.read_html(pg_url, header = 0)[0], ignore_index = True)
        if page == 63:  # 전처리 및 저장을 한다.
            df = df.rename(columns= {'날짜': 'date', '종가': 'close', 
             '전일비': 'diff', '시가': 'open', '고가': 'high', 
             '저가': 'low', '거래량': 'volume'})  # 컬럼명을 바꾼다.
            # 결측치 제거 및 오름차순으로 정렬한다.
            df = df.sort_values('date', ascending=True).dropna()
            lg_dict_train[name_list[i]] = df  # 데이터프레임을 key, value로 저장한다.

In [22]:
lg_dict_train[name_list[0]]  # 데이터 확인

           date     close     diff      open      high       low    volume
733  2016.01.05   97500.0   2500.0   95500.0   97900.0   95300.0  197901.0
732  2016.01.06   92000.0   5500.0   97300.0   97300.0   89800.0  554241.0
731  2016.01.07   89200.0   2800.0   91400.0   92700.0   89000.0  320017.0
730  2016.01.08   90500.0   1300.0   88500.0   90500.0   87700.0  144996.0
729  2016.01.11   88200.0   2300.0   89700.0   89800.0   87800.0  108460.0
725  2016.01.12   85900.0   2300.0   88300.0   89100.0   85400.0  242656.0
724  2016.01.13   87300.0   1400.0   86200.0   88000.0   86200.0  127171.0
723  2016.01.14   85900.0   1400.0   85800.0   86400.0   84900.0  154383.0
722  2016.01.15   86100.0    200.0   87100.0   89500.0   85900.0  212155.0
721  2016.01.18   86000.0    100.0   84600.0   86300.0   84100.0  120709.0
718  2016.01.19   85800.0    200.0   85100.0   86000.0   82300.0  251281.0
717  2016.01.20   82300.0   3500.0   85700.0   85700.0   81700.0  250351.0
716  2016.01.21   83500.0   1200.0   81500.0   85100.0   81400.0  143912.0
715  2016.01.22   85000.0   1500.0   85200.0   86000.0   83700.0  130559.0
714  2016.01.25   85500.0    500.0   86500.0   86800.0   85000.0  127425.0
710  2016.01.26   81700.0   3800.0   83200.0   84000.0   80300.0  412797.0
709  2016.01.27   83000.0   1300.0   82200.0   83100.0   81000.0  212192.0
708  2016.01.28   82600.0    400.0   82500.0   83000.0   80900.0   98546.0
707  2016.01.29   82300.0    300.0   83000.0   83200.0   81200.0  136805.0
706  2016.02.01   86600.0   4300.0   83000.0   87700.0   82800.0  332861.0
703  2016.02.02   84800.0   1800.0   86600.0   86600.0   84800.0  133220.0
702  2016.02.03   81900.0   2900.0   84100.0   85000.0   81800.0  166500.0
701  2016.02.04   83500.0   1600.0   82500.0   84900.0   82000.0  130164.0
700  2016.02.05   84300.0    800.0   83500.0   85200.0   83400.0   63854.0
699  2016.02.11   82300.0   2000.0   81700.0   83800.0   81700.0  158234.0
695  2016.02.12   80700.0   1600.0   82100.0   83100.0   80100.0  144339.0
694  2016.02.15   82100.0   1400.0   81500.0   82400.0   80800.0  117525.0
693  2016.02.16   85200.0   3100.0   82600.0   85200.0   82400.0  110038.0
692  2016.02.17   83900.0   1300.0   85700.0   85800.0   83900.0   92119.0
691  2016.02.18   84500.0    600.0   85500.0   85500.0   84000.0  116492.0
..          ...       ...      ...       ...       ...       ...       ...
43   2017.11.20  170000.0    500.0  172500.0  172500.0  166500.0  196099.0
42   2017.11.21  175500.0   5500.0  170500.0  175500.0  168500.0  264168.0
41   2017.11.22  177000.0   1500.0  178000.0  178000.0  174500.0  207214.0
40   2017.11.23  173000.0   4000.0  176500.0  177000.0  171500.0  139126.0
39   2017.11.24  173000.0      0.0  173000.0  174000.0  170000.0  128997.0
35   2017.11.27  168000.0   5000.0  173000.0  175500.0  167500.0  211363.0
34   2017.11.28  169000.0   1000.0  170000.0  170500.0  165500.0  168037.0
33   2017.11.29  169500.0    500.0  168500.0  172000.0  165500.0  269194.0
32   2017.11.30  161000.0   8500.0  166500.0  167000.0  160000.0  499564.0
31   2017.12.01  161500.0    500.0  162500.0  165500.0  161000.0  300299.0
28   2017.12.04  153000.0   8500.0  162000.0  163000.0  151000.0  855780.0
27   2017.12.05  159000.0   6000.0  153000.0  159500.0  152500.0  376564.0
26   2017.12.06  147000.0  12000.0  159000.0  160000.0  146000.0  772501.0
25   2017.12.07  154500.0   7500.0  151000.0  155000.0  148000.0  598789.0
24   2017.12.08  154000.0    500.0  156000.0  157000.0  152000.0  175032.0
20   2017.12.11  153000.0   1000.0  154500.0  155500.0  148500.0  366377.0
19   2017.12.12  148500.0   4500.0  153000.0  156500.0  147500.0  360906.0
18   2017.12.13  149500.0   1000.0  147000.0  151000.0  147000.0  286929.0
17   2017.12.14  147500.0   2000.0  148500.0  153500.0  147500.0  420436.0
16   2017.12.15  147000.0    500.0  149000.0  150000.0  147000.0  163901.0
13   2017.12.18  147000.0      0.0  149000.0  150500.0  146500.0  282952.0
12   2017.12.19  148500.0   1500.0  150000.0  152000.0  147000.0  326946.0
11   2017.12.20  148000.0    500.0  149500.0  150000.0  147000.0  201650.0
10   2017.12.21  139000.0   9000.0  147500.0  148000.0  139000.0  575472.0
9    2017.12.22  144000.0   5000.0  140000.0  144500.0  136000.0  286087.0
5    2017.12.26  136500.0   7500.0  142000.0  143500.0  136000.0  504695.0
4    2017.12.27  140500.0   4000.0  135500.0  141000.0  135500.0  239441.0
3    2017.12.28  144000.0   3500.0  140000.0  145000.0  138500.0  190019.0
2    2018.01.02  145000.0   1000.0  147000.0  147000.0  142000.0  270085.0
1    2018.01.03  147000.0   2000.0  146000.0  148000.0  143500.0  254861.0

[490 rows x 7 columns]

In [36]:
# 데이터 띄워보기
data = lg_dict_train[name_list[0]]
#print(type(a))
#print(data.columns.values)
plt.plot(data['date'], data['close'])

TclError: ignored

In [0]:
from zipline.api import order, symbol
from zipline.algorithm import TradingAlgorithm